[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

[submodule "zsh/zshtheme"]
	path = zsh/zshtheme
	url = https://github.com/dracula/zsh.git
[submodule "zsh/plugins/zsh-kitty"]
	path = zsh/plugins/zsh-kitty
	url = https://github.com/redxtech/zsh-kitty.git
